.bottom-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #111;
  padding: 10px 0;
}

.bottom-tabs a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
}

.bottom-tabs a:hover {
  color: #e50914;
}

.bottom-tabs a:active {
  color: #b20710;
}
