.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.splash-screen img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}